<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Green Ektar</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>Copyright © 2025 <i>Green Ektar</i>. All Rights Reserved.</p>
  </footer>

</body>
</html>