body {
  background-color: #7aa16c;
}

main {
  display: flex;
  flex-direction: column;
}

.picture-container {
  align-self: center;
  background-color: #ffffff;
  padding: 48px 48px 64px;
  margin: 24px;

  @media (max-width: 768px) {
    padding: 32px 32px 48px;
  }
}

img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: contain;
}
